[submodule "3rdparty/Mustache"]
	path = 3rdparty/Mustache
	url = https://github.com/kainjow/Mustache.git
[submodule "3rdparty/FlyCube"]
	path = 3rdparty/FlyCube
	url = https://github.com/andrejnau/FlyCube.git
	branch = master
